---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/seccions/Hero.astro";
import MenuServicios from "@/components/seccions/MenuServicios.astro";
import Info from "@/components/seccions/Info.astro";
import Agradecimiento from "@/components/seccions/Agradecimiento.astro";
import Galeria from "@/components/seccions/Galery.astro";
import Footer from "@/components/seccions/Footer.astro";

import { translations } from "@/i18n/translations";
const t = translations.en;
---

<Layout title={t.title} description={t.description}>
    <div class="animate-blurred-fade-in animate-delay-200">
        <Hero translations={t} />
    </div>
    <MenuServicios translations={t} />
    <Agradecimiento translations={t} />
    <Galeria translations={t} />
    <Info translations={t} />
    <Footer />
</Layout>
