---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/seccions/Hero.astro";
import MenuServicios from "@/components/seccions/MenuServicios.astro";
import Info from "@/components/seccions/Info.astro";
import Agradecimiento from "@/components/seccions/Agradecimiento.astro";
import Galeria from "@/components/seccions/Galery.astro";
import Footer from "@/components/seccions/Footer.astro";

import { translations } from "@/i18n/translations";
const t = translations.es;
---

<head>
    <link rel="preload" as="image" href="https://res.cloudinary.com/dfsttrid3/image/upload/v1756295664/hero-image_nxib0k.webp" fetchpriority="high" />
    <link rel="preload" as="image" href="https://res.cloudinary.com/dfsttrid3/image/upload/v1756295664/01_yp4nyr.webp" fetchpriority="high" />
    <link rel="preload" as="image" href="https://res.cloudinary.com/dfsttrid3/image/upload/v1756295664/lianails_tkpwso.webp" fetchpriority="high" />
</head>
<Layout title={t.title} description={t.description}>
    <div class="animate-blurred-fade-in animate-delay-100">
        <Hero translations={t} />
    </div>
    <MenuServicios translations={t} />
    <Agradecimiento translations={t} />
    <Galeria translations={t} />
    <Info translations={t} />
    <Footer />
</Layout>
