---
import "../styles/global.css";

interface Props {
    title?: string;
    description?: string;
}

const {
    title = "Lia Nails",
    description = "Especialista en diseño,arreglo y decoracion de uñas para damas señoras y jovencitas",
} = Astro.props;
const siteUrl = "https://lia-nails-app.vercel.app";
---

<!doctype html>
<html lang="en">
    <html lang="es">
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width" />
            <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
            <meta name="description" content={description} />
            <meta property="og:title" content={title} />
            <meta property="og:description" content={description} />
            <meta property="og:image" content={`${siteUrl}/hero-images.png`} />
            <meta property="og:url" content={siteUrl} />
            <meta property="og:type" content="website" />
            <meta property="og:locale" content="es_ES" />

            <!-- Twitter Card -->
            <meta name="twitter:card" content="summary_large_image" />
            <meta name="twitter:title" content={title} />
            <meta name="twitter:description" content={description} />
            <meta name="twitter:image" content={`${siteUrl}/hero-images.png`} />

            <meta name="generator" content={Astro.generator} />
            <ViewTransitions />

            <title>{title}</title>
        </head>
        <body>
            <slot />
        </body>
    </html>

    <style>
        html,
        body {
            margin: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</html>
